<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Bye!-Bye!</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="header" th:insert="general/home :: header"></div>
<body>
	<div class="form-wrapper form-center">
		<header class="m-md-3">
			<a href="../../">Home</a>
		</header>
		<hr />
		<h1>We will miss U!!</h1>
	</div>
</body>
<hr />
<div th:insert="general/home :: footer"></div>
</html>