<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Changes saved</title>
<link href="../../css/styles.css" rel="stylesheet" />
<link href="../../css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="header" th:insert="general/home :: header"></div>
<body>
	<div class="form-wrapper form-center" style="padding: 50px 0">
		<header class="m-md-3">
			<a href="../../">Home</a>
		</header>
		<h3>Changes saved</h3>
	</div>
</body>
<hr />
<div th:insert="general/home :: footer"></div>
</html>