<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Forgot Password</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
	rel="stylesheet">
</head>
<div class="header" th:insert="general/home :: header"></div>
<body>
	<div class="form-wrapper" style="padding: 50px 0">
		<h1 class="form-center">Forgot password</h1>
		<div class="form-center">
			<form action="newPasswordSent" method="get">
				<div class="form-center">
					<p>When you fill in your registered email address, you will be
						sent new password.</p>
				</div>
				<div class="form-center">
					<label for="email" class="sr-only">Email address</label> <input
						type="text" class="form-control" id="email" name="email"
						placeholder="email address">
				</div>
				<button type="submit" class="login-button login-button-forgot">
					<em class="fa fa-chevron-right"></em>
				</button>
				<div class="form-center">
					<p>
						already have an account? <a href="login">login here</a>
					</p>
					<p>
						new user? <a href="users/adduser">create new account</a>
					</p>
				</div>
			</form>
		</div>
	</div>
</body>
<div th:insert="general/home :: footer"></div>
</html>