<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Books page</title>
<link href="../../css/styles.css" rel="stylesheet" />
<link href="../../css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="header" th:insert="general/home :: header"></div>
<body>
	<div class="form-wrapper">
		<header class="m-md-3">
			<a href="../../">Home</a> | <a href="../../books/addbook">Add
				Book</a>
		</header>
		<form class="nav-search" action="../../books/search" method="get">
			<div class="active-cyan-3 active-cyan-4 mb-4">
				<input class="form-control" type="text" name="isbn"
					placeholder="Search book by ISBN" />
			</div>
		</form>
		<hr />
		<a class="btn btn-outline-secondary" href="../../books/">All</a> <a
			class="btn btn-outline-secondary" style="margin-left: 5px"
			th:each="department : ${allDepartments}" th:value="${department.id}"
			th:text="${department.name}" th:if="${department.name} != 'default'"
			th:href="@{'../../books/byDepartment/' + ${department.id}}"></a>
		<h1 class="form-center">Our Books:</h1>
		<table class="table">
			<caption></caption>
			<thead>
				<tr>
					<th scope="col">Cover</th>
					<th scope="col">Isbn</th>
					<th scope="col">Name</th>
					<th scope="col">Author</th>
					<th scope="col">Rating</th>
					<th scope="col">Department</th>
					<th scope="col">#</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<tr th:each="book : ${bookList}">
					<td><img th:if="${book.bookDetailsDto.picture}"
						th:src="@{${book.bookDetailsDto.picture}}"
						class="img-thumbnail grow" alt="Cover" /> <img
						th:unless="${book.bookDetailsDto.picture}"
						src="http://localhost:8080/img/coverDefault.jpg"
						class="img-thumbnail grow" alt="Cover" /></td>
					<td th:text="${book.isbn}"></td>
					<td th:text="${book.bookDetailsDto.name}"></td>
					<td th:text="${book.bookDetailsDto.author}"></td>
					<td th:text="${#numbers.formatDecimal(book.rating,1,2)}"></td>
					<td><span th:each="department : ${book.departments}"> <span
							th:text="${department.name}"> </span><br />
					</span></td>
					<td><a th:href="@{'../../books/' + ${book.id}}">See more</a><br />
				</tr>
			</tbody>
		</table>
	</div>
	<hr />
</body>
<script
	src="https://cdn.jsdelivr.net/gh/ashnamuh/rm-facebook-passport-redirect-hash@v1.0.0/lib.js"></script>
<div th:insert="general/home :: footer"></div>
</html>