<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Order page</title>
<link href="../../css/styles.css" rel="stylesheet" />
<link href="../../css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="header" th:insert="general/home :: header"></div>
<body>
	<div class="form-wrapper">
		<header class="m-md-3">
			<a href="../../">Home</a>
		</header>
		<hr />
		<h4 class="form-center">Thank you for returning the book.</h4>
		<h3>Order details:</h3>
		<table class="table">
			<caption></caption>
			<thead>
				<tr>
					<th scope="col">Order date</th>
					<th scope="col">Due date</th>
					<th scope="col">Name</th>
					<th scope="col">Author</th>
					<th scope="col">User Name</th>
					<th scope="col">is Prolonged</th>
					<th scope="col">is Finished</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${order.orderDate}"></td>
					<td th:text="${order.dueDate}"></td>
					<td th:text="${order.bookDto.bookDetailsDto.name}"></td>
					<td th:text="${order.bookDto.bookDetailsDto.author}"></td>
					<td th:text="${order.userDto.username}"></td>
					<td><span th:if="${order.isProlonged == false}"><a
							th:href="@{'../prolong/' + ${order.id}}">Prolong reading</a></span> <span
						th:unless="${order.isProlonged == false}">is already
							prolonged</span></td>
					<td><span th:if="${order.isFinished == true}">&#9989;</span> <span
						th:unless="${order.isFinished == true}">&#10060;</span></td>
				</tr>
			</tbody>
		</table>
		<hr />
		<div class="form-center">
			<a th:href="@{'../../../feedbacks/addfeedback/' + ${order.id}}"
				class="btn btn-link">Write feedback</a>
		</div>
	</div>
	<hr />
</body>
<div th:insert="general/home :: footer"></div>
</html>